@import 'nib'

body
    background-color #0FB8E8
    color #FEFFFF
    padding 50px
    font 14px Helvetica, Arial, sans-serif

h1
    color #185C83
    font 60px Helvetica

h2
    color #185C83
    font 50px Helvetica

h4
    color #185C83
    font 30px Helvetica

h5
    color #185C83
    font 20px Helvetica

#logo-text
    fixed top right
    padding-left 20px
    height 80px
    width auto
    fixed top right
    padding 30px
    // padding-left 50px
    padding-top 47.5px
    padding-right 50px
    position absolute

// Notification Stream Styling

// Card stuff
.notification
    padding 1.5rem
    box-shadow 0 1px 2px #aaa
    background white
    margin 0 1rem 1rem
    border-radius 3px
    z-index 2
    position relative

#notificationStreamHeader
    absolute top left
    padding 20px
    padding-top 30px
    padding-left 50px
    line-height 20%
    font-weight bold

#notificationStream
    padding-top 100px
    padding-left 30px

#notificationTitle
    margin-top 0px
    color #185C83
    font-weight bold

#notificationTime
    margin-top 0px
    color #185C83

#notificationDescription
    color #185C83
    font-size 18px
    margin-bottom 0px

// Director Add Form Styling
#inputNotificationTitle
    color #185C83

#inputNotificationTime
    color #185C83

#inputNotificationDesc
    color #185C83

// Director Confirmation Styling
#directorConfirmationHeader
    line-height 80%
    padding 0px
    font-weight bold

#directorConfirmationSubheader
    line-height 80%
    padding 0px

#idBig
    color #185C83
    font-size 60px
    padding-left 50px
    padding-top 10px
    font-weight bold
