@import 'nib'

body
    background-color #0FB8E8
    color #FEFFFF
    padding 50px
    font 14px Helvetica, Arial, sans-serif

h1
    color #185C83
    font 60px Helvetica

h2
    color #185C83
    font 50px Helvetica

h4
    color #185C83
    font 30px Helvetica

h5
    color #185C83
    font 20px Helvetica

#header
    fixed top right
    padding 30px
    padding-top 47.5px
    padding-right 50px

#logo-text
    height 80px
    width auto

#notificationStreamHeader
    absolute top left
    padding 20px
    padding-top 30px
    padding-left 50px
    line-height 20%

#notificationStream
    padding-top 80px
    padding-left 30px
