extends index

block directorConfirmation
    h3 YAY!!!
    P YOU ADDED A NEW NOTIFICATION!!!
    h4 The ID is:
    id= notificationID
    h5 #{id}
    p You need this to edit the notification later
    button#buttonDirectorConfirmation(type='submit' action='/director') Sounds Good!
