extends index

block directorConfirmation
    h3 YAY!!!
    P YOU ADDED A NEW NOTIFICATION!!!
    h4 The ID is:
    id= notificationID
    h5 #{id}
    p You need this to edit the notification later
    form#formDirectorConfirmation(name='directorConfirmation' method='get' action='/director')
        button#buttonDirectorConfirmation(type='submit') Sounds Good!
