extends index

block directorConfirmation
    - var id = notificationID
    
    h2 YAY!!!
    h3 YOU ADDED A NEW NOTIFICATION!!!
    h3 The ID is: #{id}
    p You need this to edit the notification later.
    
    form#formDirectorConfirmation(name='directorConfirmation' method='get' action='/director')
        button#buttonDirectorConfirmation(type='submit') Sounds Good!
