extends layout

block directorAddForm
    form#newNotificationForm(name='addNotification', class='pure-form pure-form-stacked', method='post', action='/addNotification')
        label(for='title') Title
        input#inputNotificationTitle(type='text', class='pure-input-rounded', name='notificationTitle', required)
        br
        label(for='fuzzyTime') Approximate Time
        input#inputNotificationTime(type='number', class='pure-input-rounded' name='notificationTime', min='3', required)
        br
        label(for='description') Notification Description
        textarea#inputNotificationDesc(type='text', class='pure-input-1-2', name='notificationDesc')
        br
        button#buttonNotificationSubmit(type='submit', class='pure-button pure-button-primary') Notify!
