doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title Hackinerary
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
              
      <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
      <![endif]-->
      <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
      <!--<![endif]-->
            
    block js
      script(src='http://localhost:35729/livereload.js')
  body
    
  div.pure-g
    block notificationStream
    block directorAddForm
    block directorConfirmation
    
    img#logo-text.pure-u-1-2(src='/img/logo-text.png')
