extends layout

block notificationStream
  
  script(type='text/javascript').
    setTimeout(function(){
      window.location.reload(1);
      }, 5000);
      
  - var fuzzIncrements = 15

    div#notificationStream.pure-g.pure-u-1-2
        for notification in notifications
            div.notification
                h4#notificationTitle #{notification.title}
                if (15 * (Math.floor(notification.fuzzytime / fuzzIncrements))) != 0
                  h5 Happening in about #{15 * (Math.floor(notification.fuzzytime / fuzzIncrements))} minutes.
                else
                  h5 Happening soon!
                p#notificationDescription #{notification.description}

            br
