extends index

block notificationStream
    div#notificationStreamHeader
        h2 Notifications
    
    div#notificationStream
        for notification in notifications
            h4 #{notification.title}
            h5 Happening in about #{notification.fuzzytime} minutes.
            p #{notification.description}
            
            br
