extends layout

block notificationStream
    div#notificationStreamHeader
        h2 Notifications
    
    div#notificationStream
        for notification in notifications
            div.notification
                h4#notificationTitle #{notification.title}
                h5#notificationTime Happening in about #{notification.fuzzytime} minutes.
                p#notificationDescription #{notification.description}
            
            br
